<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.persistence.mybatisimpl.mappers.CategoryMapper">

    <resultMap type='Category' id='CategoryResult'>
        <id property='id' column='id' />
        <result property='name' column='name' />
        <result property='description' column='description' />
        <result property='creationDate' column='creationDate' />
        <result property='status' column='status' />
        <result property='modificationDate' column='modificationDate' />
    </resultMap>

    <resultMap id="ReportResult" type="ReportCategory">
        <result property="category" column="category"/>
        <result property="needs" column="needs"/>
        <result property="offers" column="offers"/>
        <result property="total" column="total"/>
    </resultMap>

    <!--loadReport-->
    <select parameterType="map" id="loadReportCategory" resultMap="ReportResult">
        select c.name as category,
            coalesce(n.count,0) as needs,
            coalesce(o.count,0) as offers,
            coalesce(n.count,0) + coalesce(o.count,0) as total
        from category c full join
        (select category, count(*) from need group by category) n on n.category = c.id full join
        (select category, count(*) from offer o group by category) o on o.category = c.id
    </select>

    <!--loadActiveCategorys-->
    <select parameterType="map" id="loadAllActive" resultMap="CategoryResult">
        SELECT * FROM category WHERE status=#{status}
    </select>

    <!--loadCategorys-->
    <select parameterType="map" id="loadAllC" resultMap="CategoryResult">
        SELECT * FROM category
    </select>

    <!--loadCategory-->
    <select parameterType="map" id="loadC" resultMap="CategoryResult">
        SELECT
            c.id ,
            c.name ,
            c.description,
            c.creationDate,
            c.status,
            c.modificationDate
        FROM category c
        WHERE c.id = #{id}
    </select>
    
    <!--addCategory-->
    <insert parameterType="map" id="addCategory">
        INSERT INTO category (name,description,creationdate,status,modificationdate)
        VALUES (#{category.name},#{category.description},CURRENT_TIMESTAMP,true,CURRENT_TIMESTAMP)
    </insert>

    <!--updateCategory-->
    <update parameterType="map" id="modifyCategory">
        UPDATE category
        SET
        name = #{category.name},
        description = #{category.description},
        status = #{category.status},
        modificationDate = CURRENT_TIMESTAMP
        WHERE id = #{category.id}
    </update>
</mapper>