<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.persistence.mybatisimpl.mappers.NeedMapper">

    <resultMap type="Need" id="NeedResult">
        <id property="id" column="id"/>
        <result property="category" column="category"/>
        <result property="name" column="name"/>
        <result property="description" column="description"/>
        <result property="urgency" column="urgency"/>
        <result property="creationDate" column="creationdate"/>
        <result property="status" column="status"/>
        <result property="modificationDate" column="modificationDate"/>
        <result property="username" column="username"/>
    </resultMap>

    <resultMap id="CountResult" type="CountNeeds">
        <result property="status" column="status"/>
        <result property="conteo" column="conteo"/>
    </resultMap>

    <!--addNeed-->
    <insert parameterType="map" id="addNeed">
        call confirm_nneeds(#{need.category},#{need.name},#{need.description},#{need.urgency},#{need.username})
    </insert>

    <!--loadNeeds-->
    <select parameterType="map" id="loadNeeds" resultMap="NeedResult">
        SELECT * FROM need
    </select>

    <!--loadNeedsbyStatus-->
    <select parameterType="map" id="loadNeedsbyStatus" resultMap="CountResult">
        SELECT status, count(status) as conteo FROM need group by status order by status
    </select>

    <!--loadNeed-->
    <select parameterType="map" id="load" resultMap="NeedResult">
        SELECT
        n.id,
        n.category,
        n.name,
        n.description,
        n.urgency,
        n.creationDate,
        n.status,
        n.modificationDate,
        n.username
        FROM need n
        WHERE n.id = #{id}
    </select>

    <!--updateNeedStatus-->
    <update parameterType="map" id="modify">
        UPDATE need
        SET
        status = #{need.status},
        modificationDate = CURRENT_TIMESTAMP
        WHERE id = #{need.id}
    </update>
</mapper>