<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.persistence.mybatisimpl.mappers.OfferMapper">

    <resultMap type="Offer" id="OfferResult">
        <id property="id" column="id"/>
        <result property="category" column="category"/>
        <result property="name" column="name"/>
        <result property="description" column="description"/>
        <result property="creationDate" column="creationdate"/>
        <result property="status" column="status"/>
        <result property="modificationDate" column="modificationdate"/>
        <result property="username" column="username"/>
    </resultMap>

    <!-- adicionar oferta -->
    <insert parameterType="map" id="addOffer">
        call confirm_noffers(#{offer.category},#{offer.name},#{offer.description},#{offer.username})
    </insert>

    <!--updateOffer-->
    <update parameterType="map" id="updateOffer">
        UPDATE offer
        SET
        status = #{offer.status},
        modificationDate = CURRENT_TIMESTAMP
        WHERE id = #{offer.id}
    </update>

    <!--loadOffer-->
    <select parameterType="map" id="loadOffer" resultMap="OfferResult">
        SELECT id,category,name,description,creationdate,status,modificationdate,username
        FROM offer
        WHERE id = #{id}
    </select>

    <!--loadOffers-->
    <select parameterType="map" id="loadAllOffers" resultMap="OfferResult">
        SELECT * FROM offer
    </select>
</mapper>